files:
  "/etc/nginx/conf.d/custom_static_media.conf":
    mode: "644"
    owner: "root"
    group: "root"
    content: |
      location /static/ {
          alias /var/app/current/staticfiles/;
          autoindex on;
      }

      location /media/ {
          alias /var/app/current/media/;
          autoindex on;
      }

      error_log /var/log/nginx/error.log;
      access_log /var/log/nginx/access.log;
      